@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
}
.header .logo {
  width: 200px;
  z-index: -1;
}

.terminus {
  margin-bottom: 30px;
  font-weight: bold;
}

.logo-w {
  width: 24px;
  margin-right: 7px;
}

.siema img {
  width: 100vw;
  height: 250px;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
  width: 300px;
}
.row .col {
  margin-right: 0px;
  margin-left: 50px;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.border-tab {
  border-bottom: solid 1px white;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
  margin-left: auto;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  overflow: scroll;
  max-height: 100vw;
  padding: 1em;
}

.disp:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.267);
  background-size: 20px;
}

.eltram, .elrail, .elc38, .elchrono, .elflexo, .elproximo, .elscol {
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  line-height: 43px;
  width: 43px;
  height: 43px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

.elscol {
  width: 60px;
  background-color: gray;
}

.elrail {
  text-align: center;
  padding: 7px;
  width: 50px;
  height: 20px;
  align-items: center;
}

.eltram, .elchrono {
  border-radius: 50%;
  height: 40px;
  height: 40px;
}

.elflexo,
.elproximo {
  border-radius: 5px;
}

.divHoraires {
  width: 98%;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: wrap row;
  overflow-y: scroll;
  max-height: 370px;
}

.classHoraires {
  border-bottom: solid 1px gray;
  width: 400px;
  display: flex;
  flex-flow: row wrap;
}

.classHoraires2 {
  border-bottom: solid 1px gray;
  width: 100px;
  display: flex;
  flex-flow: row wrap;
}

#listeHoraires {
  display: flex;
  flex-flow: column;
  width: 600px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 50px;
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.p-margin {
  margin-bottom: 30px;
  margin-left: 10px;
}

.logo-fleche {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.cursor {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  #listeHoraires {
    width: 300px;
  }

  .tabs {
    width: 300px;
    margin-left: -15px;
  }
}
#mapid {
  display: flex;
  width: 600px;
  height: 400px;
  border-radius: 15px;
}

/*# sourceMappingURL=prod.css.map */
